Flask>=1.0.2
Flask-Cors>=3.0.7
Flask-JSON>=0.3.3
Flask-RESTful>=0.3.7
PyYAML>=5.1
addict>=2.2.1
attrs>=19.1.0
beautifulsoup4>=4.7.1
cattrs>=0.9.0
feedparser>=5.2.1
flask-marshmallow>=0.10.0
google-cloud-datastore>=1.7.3
google-cloud-tasks>=1.0.0
gunicorn>=19.9.0
html5lib>=1.0.1
newspaper3k>=0.2.8
requests>=2.21.0
sendgrid>=6.0.2

-e git+https://gitlab.com/truestory-one/ndb-orm.git@develop#egg=ndb_orm
