<style>
  .typeform-share {
    font-size: 1.3rem;
    text-decoration: underline;
  }
</style>

<a class="typeform-share link" href="https://truestory.typeform.com/to/Xo5aUF"
 data-mode="drawer_left" data-submit-close-delay="1" target="_blank">
  Your opinion
</a>

<script>
  (function() {
    var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement;
    var gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/";
    if(!gi.call(d,id)) {
      js=ce.call(d,"script");
      js.id=id;
      js.src=b+"embed.js";
      q=gt.call(d,"script")[0];
      q.parentNode.insertBefore(js,q);
    }
  })();
</script>
