{% extends "base.html" %}
{% from 'macros.html' import render_full_article %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
{% endblock css %}

{% block title %}
This is news
{% endblock title %}

{% block container %}
{{ super() }}

<div class="row">
  {{ render_full_article(main_article) }}
</div>

{% for article, bias_score in related_articles %}
<div class="row mt-5">
  {{ render_full_article(article, bias_score=bias_score) }}
</div>
{% endfor %}

{% endblock container %}
