{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock css %}

{% block script %}
{{ super() }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103585865-3"></script>
<script src="{{ url_for('static', filename='js/gtag.js') }}" type="text/javascript"></script>
<!-- Captcha support and custom scripts -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript"></script>
{% endblock script %}

{% block content %}
<div id="pageTop">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a href="#pageTop" class="navbar-brand js-scroll-trigger">TrueStory</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#about" class="nav-link js-scroll-trigger">About</a>
          </li>
          <li class="nav-item">
            <a href="#extension" class="nav-link js-scroll-trigger">Extension</a>
          </li>
          <li class="nav-item">
            <a href="#web" class="nav-link js-scroll-trigger">Web</a>
          </li>
          <li class="nav-item">
            <a href="#signup" class="nav-link js-scroll-trigger">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto col-8 text-white pt-5">
          <strong>Similar</strong> news with <strong>opposing</strong> views
        </h1>
        <img id="extensionDemo" class="img-fluid rounded" src="{{ url_for('static', filename='img/extension-demo.gif') }}" alt="Extension Demo">
        <div class="mt-4">
          <a href="{{ extension_url }}" target="_blank" class="btn ts-button my-1">
            Add in Chr<i class="fab fa-chrome"></i>me
          </a>
          <a href="#about" class="btn ts-button js-scroll-trigger my-1">Discover more</a>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Fake news travel faster than truth</h2>
          <p class="text-white-80">
            We crafted a strong immune system to keep you away from misleading/biased news.
            Use of multiple sources is the sacred law of journalism and since mass media cannot
            stay away from political agendas, it's our time to act now.
            <br><br>
            Be your own journalist with this
            <a href="#extension" class="js-scroll-trigger">browser extension</a>.
          </p>
        </div>
      </div>
      <img src="{{ url_for('static', filename='img/ipad.png') }}" class="img-fluid" alt="Online News">
    </div>
  </section>

  <!-- Extension Section -->
  <section id="extension" class="extension-section bg-light">
    <div class="container">

      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img src="{{ url_for('static', filename='img/extension.png') }}" class="img-fluid mb-3 mb-lg-0" alt="Chrome Extension">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Chrome Extension</h4>
            <p class="text-black-50 mb-0">
              Get multiple perspectives over the subject you're currently reading, while still surfing
              your favorite publishers.
            </p>
            <p>
              <a href="{{ extension_url }}" target="_blank" class="js-scroll-trigger">
                Download it now
              </a>
            </p>
            <p>
              <a href="#web" class="js-scroll-trigger">
                <small><em>Or try our web app</em></small>
              </a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Web Section -->
  <section id="web" class="extension-section bg-light">
    <div class="container">

      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text-right text-center text-lg-left">
            <h4>Web App</h4>
            <p class="text-black-50 mb-0">
              Have a look through our feed of side by side opposed related articles given
              the publishers we actively crawl.
            </p>
            <p>
              <a href="{{ url_for('home_view') }}" >Head to our home page</a>
            </p>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7">
          <img src="{{ url_for('static', filename='img/web-app.png') }}"
           class="img-fluid mb-3 mb-lg-0" alt="Web App">
        </div>
      </div>

    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe now for early access!</h2>

          <form id="saveMail" action="{{ url_for('subscribe_view') }}" method="POST" class="form-inline d-flex" onsubmit="return captcha_form(event);">
            <input id="mail" type="email" class="form-control flex-fill font-weight-bold mr-0 mr-sm-2 mb-3 mb-sm-0" name="mail" placeholder="Enter e-mail address..." required>
            <button type="submit" class="btn ts-button mx-auto">Stay tuned</button>
            <div id="antiRobot" class="g-recaptcha mx-auto d-none" data-theme="dark" data-callback="captcha_submit" data-sitekey="6Levi5sUAAAAAEjemtZFJEgtEH5M4iNJIcy_Sw-z"></div>
          </form>

          <div class="text-white mx-auto">
            <div id="successText" class="d-none">
              <i class="fas fa-thumbs-up fa-2x"></i>
              Subscribed successfully! Now check your e-mail for details.
            </div>
            <div id="duplicateText" class="d-none">
              <i class="fas fa-grin-hearts fa-2x"></i>
              Already subscribed. We know you love us, but one time is enough.
            </div>
            <div id="failText" class="d-none">
              <i class="fas fa-surprise fa-2x"></i>
              Oh snap! Something wrong happened, please try again.
            </div>
          </div>

          <br>
          <p class="text-white-80">
            <em>
              <small class="font-weight-lighter">
                No spam or marketing messages, just letting you know when our
                <strong class="font-weight-bold">next big thing</strong>
                is ready for you.
              </small>
            </em>
          </p>

          <br>
          <p>
            {% include "_typeform.html" %}
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">
      <div class="social d-flex justify-content-center">
        <a href="https://twitter.com/truestoryone" target="_blank" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/truestory.one" target="_blank" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.linkedin.com/company/truestory-one" target="_blank" class="mx-2">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="mailto:{{ mail }}?subject=Hello" target="_blank" rel="noopener noreferrer" class="mx-2">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://gitlab.com/truestory-one" target="_blank" class="mx-2">
          <i class="fab fa-gitlab"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      <p>
        Crafted with <i class="fas fa-heart text-info"></i> in Romania |
        Copyright &copy; 2019-2020 <strong class="font-weight-bold">TrueStory</strong>
      </p>
    </div>

    <a href="#pageTop" class="js-scroll-trigger float-right mr-5">
      <i class="fas fa-angle-up fa-lg"></i>
    </a>
  </footer>

</div>
{% endblock content %}
