{% extends "base.html" %}

{% block title %}
Enter access key
{% endblock title %}

{% block container %}
{{ super() }}

<div class="row py-5">
  <div class="col-4 mx-auto">

    <form method="POST" action="{{ url_for('login_view', next=next) }}">
      <div class="form-group">

        <label for="token">
          <i class="fas fa-gift"></i>
          We offer free platform access if you get our
          <a href="{{ url_for('index_view') }}#extension">extension</a>
        </label>

        <div class="input-group">
          <input type="password" class="form-control" id="token" name="token"
           placeholder="Insert your token..." aria-label="Token"
           aria-describedby="tokenSubmit" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="tokenSubmit">
              Go
            </button>
          </div>
        </div>

      </div>
    </form>

    <p class="text-muted">
      <small>
        Don't worry, is simple, just download the extension and get the public token
        from the <em>Settings</em> tab.
      </small>
    </p>
  </div>
</div>
{% endblock container %}
