{% extends "base.html" %}

{% block title %}
Can I trust you?
{% endblock title %}

{% block container %}
{{ super() }}

<div class="row py-5">
  <div class="col-4 mx-auto">
    <form method="POST">
      <div class="form-group">
        <label for="token">Token</label>
        <input type="password" class="form-control" id="token" name="token" placeholder="Insert your token..." required>
      </div>
    </form>

    <p class="text-muted">
      <small>
        Don't have a token yet? Download our extension and get the public one from the <em>Settings</em> tab.
      </small>
    </p>
  </div>
</div>
{% endblock container %}
