{% macro render_article(article, pos) %}
<div class="col-5 article-{{ pos }}">
  <div class="card">
    <a href="{{ url_for('article', article_usafe=article.usafe) }}" class="card-link text-dark">
      <div class="row no-gutters">
        <div class="col-4">
          <img src="{{ article.image }}" class="card-img" alt="Article picture">
        </div>

        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title font-article-title">{{ article.title }}</h5>
            <p class="card-text article-summary">{{ article.summary or article.content }}</p>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <p class="card-text">
          <span class="badge badge-pill badge-dark article-source">{{ article.source_name }}</span>
          <small class="text-muted ml-2 article-published">{{ article.published|format_date(time=True) }}</small>
        </p>
      </div>
    </a>
  </div>
</div>
{% endmacro %}
