{% macro render_home_article(article, pos) %}
<div class="row">
  <div class="col-9 article-{{ pos }} offset-{{ 1 if pos == 'left' else 2 }}">
    <div class="card shadow">
      <a href="{{ url_for('article_view', article_usafe=article|usafe) }}" class="card-link text-dark">
        <div class="row no-gutters">
          <div class="col-4">
            <img src="{{ article.image }}" class="card-img" alt="Article picture">
          </div>

          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title font-article-title">{{ article.title }}</h5>
              <p class="card-text article-summary">{{ article.summary or article.content|paragraph_split|join('\n') }}</p>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <p class="card-text">
            <span class="badge badge-dark article-source">{{ article.source_name }}</span>
            <small class="text-muted ml-2 article-published">{{ article.published|format_date(time=True) }}</small>

            <span class="blockquote-footer float-right">
              {{ article.authors|join(', ') }} on
              <cite title="Source website" class="text-dark">{{ article.link|website }}</cite>
            </span>
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endmacro %}

{% macro render_full_article(article, meta=None) %}
<div class="col-10">
  <div class="card shadow">
    <a href="{{ url_for('article_view', article_usafe=article|usafe) }}" class="card-link text-dark">
      <img src="{{ article.image }}" class="card-img-top" alt="Article picture">
      <div class="card-img-overlay text-light">
        <h5 class="card-title font-article-title article-title">{{ article.title }}</h5>

        {% if meta is not none %}
        <br>
        <p class="card-text mt-5 float-right">
          {% for detail in meta %}
          {% if detail.startswith('_') %}
            {% continue %}
          {% endif %}
          <span class="badge badge-pill badge-light">
            <em>{{ detail }}:</em> <strong>{{ meta[detail] }}</strong>
          </span>
          <br>
          {% endfor %}
        </p>
        {% endif %}
      </div>
    </a>

    <div class="card-body relative pre-scrollable article-content">
        {% for part in article.content|paragraph_split(full=True) %}
        <p class="card-text">{{ part }}</p>
        {% endfor %}
    </div>

    <div class="card-footer relative">
      <p class="card-text">
        <span class="badge badge-dark article-source">{{ article.source_name }}</span>
        <small class="text-muted ml-2 article-published">{{ article.published|format_date(time=True) }}</small>

        <a href="{{ article.link }}" target="_blank" class="card-link text-dark float-right">Read more</a>
      </p>
    </div>
  </div>
</div>
{% endmacro %}
