{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/topics.css') }}">
{% endblock css %}

{% block title %}
Popular subjects
{% endblock title %}

{% block container %}
{{ super() }}

<section class="py-5">
  <div class="card-columns d-flex justify-content-center">
    {% for topic_name, topic_body in topics.items() %}
    <div class="card mx-2">
      <div class="ribbon ribbon-top-left"><span>Coming soon</span></div>
      <div class="img-overlay"></div>
      <img class="card-img-top" src="{{ topic_body.img }}" class="card-img-top" alt="{{ topic_name }} picture">

      <div class="card-body row pb-2">
        <h5 class="card-title col-6">{{ topic_name }}</h5>
        <div class="col-6 text-right">
          <a href="{{ url_for('topics_view', topic=topic_name, thumbs='up') }}" class="text-no-decoration">
            <i class="far fa-thumbs-up fa-1x mx-2 {% if thumbs[topic_name] == True %}text-success{% endif %}"></i>
          </a>
          <a href="{{ url_for('topics_view', topic=topic_name, thumbs='down') }}" class="text-no-decoration">
            <i class="far fa-thumbs-down fa-1x mx-2 {% if thumbs[topic_name] == False %}text-danger{% endif %}"></i>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock container %}
