/* Makes all full article cover images same size. */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* Main full article title shadow. */
.article-title {
    text-shadow: 1px 3px 2px rgba(0,0,0,0.7);
}

/* This is because of the affected z-index by the `card-img-overlay` class. */
.relative {
    position: relative;
}
